@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    max-width: 100vw;
    overflow: hidden;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    height: 850px;
    width: 1350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#planet-box {
    display: flex;
    width: 33.333333333%;
    border-right: gray solid 2px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-left: gray solid 2px;
    border-bottom: gray solid 2px;
    
}

#planet-name {
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron';
    font-size: 30px;
    justify-content: space-around;
}

#header-container {
    display: flex;
    position: absolute;
    width: 1350px;
    height: 250px;
    left: 520px;
    flex-direction: column;
}

#app-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 85px;
    border-bottom: gray solid 5px;
    height: 150px;
    font-family: "Ubuntu";
}

h3 {
    margin: 20px;
}

#orbital-period {
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron';
    font-size: 30px;
}

#planet-temp {
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron';
    font-size: 30px;
}

#personal-info-cont {
    display: flex;
    justify-content: space-between;
}

#creator > p {
    margin-top: 40px;
    font-family: "Ubuntu";
    font-size: 35px;
}

.fa-github {
    font-size: 50px;
    color: tomato;
}

.fa-linkedin-in {
    font-size: 50px;
    color: tomato;
}

.fa-angellist {
    font-size: 50px;
    color: tomato;
}

#link {
    display: flex;
    justify-content: space-around;
    height: 95px;
    width: 350px;
    margin-top: 32px;
}

.planet-details{
    width: 1350px;
    height: 150px;
    position: absolute;
    top: calc(50% + 425px);
    left: 50%;
    transform: translateX(calc(-100vw - 100%));
    background-color: whitesmoke;
    flex-direction: row;
    display: flex;
}

.planet-details[slide="in"] {
    animation: slideIn 1s ease-in forwards;
}

.planet-details[slide="out"] {
    animation: slideOut 1.5s ease-in forwards;
}

.planet-details[slide="next"] {
    animation: slideIn 1.5s ease-in forwards;
}

@keyframes slideNext {

    0% {
        transform: translateX(calc(-100vw - 100%));
    }

    50% {
        transform: translateX(calc(100vw + 100%));
    }

    51% {
        transform: translateX(calc(-100vw - 100%));
    }

    100% {
        transform: translateX(100%);
    }

}

@keyframes slideIn {
    from {
        transform: translateX(calc(-100vw - 100%));
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(100vw);
    }
}