#container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    height: 720px;
    width: 1350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}